---
import BaseLayout from "../../layouts/BaseLayout.astro";
type Post = {
    file: string;
    url: string;
    frontmatter: {
        title: string;
        tags: string[];
    };
};

export async function getStaticPaths() {
    let allPosts = (await Astro.glob("../../content/blog/*.md")) as Post[];

    // 新しいオブジェクトの配列を作成して、URLを設定
    allPosts = allPosts.map((post) => {
        if (post.file) {
            const slug = post.file
                .split("/")
                .pop()
                .replace(/\.md$/, "")
                .toLowerCase();
            return { ...post, url: `/blog/${slug}/` };
        }
        return post;
    });

    // その他の処理
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.frontmatter.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <h2>{tag} のタグが付いた記事</h2>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
